<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_9_100.png</string>
				<key>name</key>
				<string>奥迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_97_100.png</string>
				<key>name</key>
				<string>阿斯顿·马丁</string>
			</dict>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_3_100.png</string>
				<key>name</key>
				<string>宝马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_82_100.png</string>
				<key>name</key>
				<string>保时捷</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_2_100.png</string>
				<key>name</key>
				<string>奔驰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_26_100.png</string>
				<key>name</key>
				<string>本田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_5_100.png</string>
				<key>name</key>
				<string>标致</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_127_100.png</string>
				<key>name</key>
				<string>别克</string>
			</dict>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_129_100.png</string>
				<key>name</key>
				<string>昌河</string>
			</dict>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_8_100.png</string>
				<key>name</key>
				<string>大众</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_27_100.png</string>
				<key>name</key>
				<string>东风</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_205_100.png</string>
				<key>name</key>
				<string>东风小康</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_179_100.png</string>
				<key>name</key>
				<string>DS</string>
			</dict>
		</array>
		<key>title</key>
		<string>D</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_91_100.png</string>
				<key>name</key>
				<string>法拉利</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_40_100.png</string>
				<key>name</key>
				<string>菲亚特</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_7_100.png</string>
				<key>name</key>
				<string>丰田</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_17_100.png</string>
				<key>name</key>
				<string>福特</string>
			</dict>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_109_100.png</string>
				<key>name</key>
				<string>GMC</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_63_100.png</string>
				<key>name</key>
				<string>广汽吉奥</string>
			</dict>
		</array>
		<key>title</key>
		<string>G</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_31_100.png</string>
				<key>name</key>
				<string>哈飞</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_196_100.png</string>
				<key>name</key>
				<string>哈弗</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_32_100.png</string>
				<key>name</key>
				<string>海马</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_58_100.png</string>
				<key>name</key>
				<string>红旗</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_52_100.png</string>
				<key>name</key>
				<string>黄海</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_112_100.png</string>
				<key>name</key>
				<string>华泰</string>
			</dict>
		</array>
		<key>title</key>
		<string>H</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_39_100.png</string>
				<key>name</key>
				<string>金杯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_4_100.png</string>
				<key>name</key>
				<string>Jeep</string>
			</dict>
		</array>
		<key>title</key>
		<string>J</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_107_100.png</string>
				<key>name</key>
				<string>凯迪拉克</string>
			</dict>
		</array>
		<key>title</key>
		<string>K</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_86_100.png</string>
				<key>name</key>
				<string>兰博基尼</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_80_100.png</string>
				<key>name</key>
				<string>劳斯莱斯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_94_100.png</string>
				<key>name</key>
				<string>雷克萨斯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_95_100.png</string>
				<key>name</key>
				<string>林肯</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_96_100.png</string>
				<key>name</key>
				<string>路虎</string>
			</dict>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_93_100.png</string>
				<key>name</key>
				<string>玛莎拉蒂</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_18_100.png</string>
				<key>name</key>
				<string>马自达</string>
			</dict>
		</array>
		<key>title</key>
		<string>M</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_155_100.png</string>
				<key>name</key>
				<string>纳智捷</string>
			</dict>
		</array>
		<key>title</key>
		<string>N</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_104_100.png</string>
				<key>name</key>
				<string>欧宝</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_84_100.png</string>
				<key>name</key>
				<string>讴歌</string>
			</dict>
		</array>
		<key>title</key>
		<string>O</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_156_100.png</string>
				<key>name</key>
				<string>启辰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_42_100.png</string>
				<key>name</key>
				<string>奇瑞</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_28_100.png</string>
				<key>name</key>
				<string>起亚</string>
			</dict>
		</array>
		<key>title</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_78_100.png</string>
				<key>name</key>
				<string>荣威</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_142_100.png</string>
				<key>name</key>
				<string>瑞麒</string>
			</dict>
		</array>
		<key>title</key>
		<string>R</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_25_100.png</string>
				<key>name</key>
				<string>三菱</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_111_100.png</string>
				<key>name</key>
				<string>斯巴鲁</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_10_100.png</string>
				<key>name</key>
				<string>斯柯达</string>
			</dict>
		</array>
		<key>title</key>
		<string>S</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_140_100.png</string>
				<key>name</key>
				<string>威麟</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_19_100.png</string>
				<key>name</key>
				<string>沃尔沃</string>
			</dict>
		</array>
		<key>title</key>
		<string>W</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_13_100.png</string>
				<key>name</key>
				<string>现代</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_49_100.png</string>
				<key>name</key>
				<string>雪佛兰</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_6_100.png</string>
				<key>name</key>
				<string>雪铁龙</string>
			</dict>
		</array>
		<key>title</key>
		<string>X</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_100_100.png</string>
				<key>name</key>
				<string>英菲尼迪</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_41_100.png</string>
				<key>name</key>
				<string>依维柯</string>
			</dict>
		</array>
		<key>title</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>cars</key>
		<array>
			<dict>
				<key>icon</key>
				<string>m_60_100.png</string>
				<key>name</key>
				<string>中华</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>m_77_100.png</string>
				<key>name</key>
				<string>众泰</string>
			</dict>
		</array>
		<key>title</key>
		<string>Z</string>
	</dict>
</array>
</plist>
